@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-scroll {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }

  .navbar {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  }
  .navbar a {
    transition: color 0.3s ease;
  }

  .nav-link {
    padding: 0.5rem 1rem; 
    }

    .group-hover\:block {
        display: block !important;
        animation: fadeIn 0.2s;
    }



  .text-dark {
    color: black !important;
  }

  .half-green-card {
    background: linear-gradient(to right, #C4DAD2 50%, transparent 50%);
  }

  .half-card {
    background: linear-gradient(to left, #C4DAD2 50%, transparent 50%);
  }

dd {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}






